<div class="about mb-5">
  <div class="row mt-5">
      <div class="col col-lg-1"></div>
      <div class="col col-lg-3 fs-1 fw-bolder aboutMeText">About Me</div>
      <div class="col col-lg-8 fs-5 aboutMeDetail">
          Experienced Angular developer with 3 years specializing in IoT applications. Skilled in Java, Spring Boot, and SQL within the healthcare domain. Demonstrated ability in Agile methodologies, contributing to iterative development and enhancing team collaboration. Experienced in UI/UX design decisions, optimizing user experiences through iterative feedback loops. Proficient in Angular UI development using Angular Material, with expertise in creating Map, Charts and Dashboard applications. Knowledgeable in Single-SPA architecture and actively contributes in stand-up meetings.
      </div>
  </div>
  <div class="mt-6 p-4 tab-style">
      <ngb-tabset>
          <ngb-tab title="Experience">
              <ng-template ngbTabContent>
                  <div class="tab-content" [@tabAnimation]="'active'">
                      <header>Imtac India Private Limited</header>
                      <label class="mt-2">Software Engineer</label><br>
                      <b>Role : Angular Developer at Empyreal Universe (IoT Platform - Street-light Product)</b><br>
                      <label class="mt-1">2021 - Current</label><br>
                      <b class="mt-1">Description:</b>
                      <summary class="mt-2">Results-driven Angular developer with 3 years of experience specializing in IoT applications within the healthcare domain.</summary>
                      <summary> Proficient in Angular UI development, Java, Spring Boot, and SQL. </summary>
                      <summary> Experienced in creating SL-Map and dashboard applications using Angular Material.</summary>
                      <summary>Skilled in Agile methodologies and active participant in stand-up meetings. </summary>
                      <summary> Adept at using CLI and knowledgeable in Single-SPA.Proficiently handled the entire project lifecycle, including project analysis, design, workflow architecture, development, deployment, regression testing and maintenance of web-based applications.</summary>
                      <summary>Managed and successfully upgraded existing Angular projects to the latest version from angular CLI 9 to versions 10 through 16.</summary>
                      <summary>My expertise extends to developing highly interactive web applications using TypeScript, JavaScript, HTML/HTML5, CSS, JSON, and Bootstrap, as well as integrating RESTful APIs. I also have knowledge of creating Single Page Applications (SPAs) using Angular single spa.</summary><br>
                      <b>ICT Health(Informal Collaborate Transform)<br>
                          Role : Full stack developer</b><br>
                      <b>Description:</b>
                      <summary class="mt-1">In healthcare team, we build and maintain software that makes patient care better using JSF, Oracle, java. I delivered multiple projects using JSF. Optimized database queries and improved performance for retrieving data efficiently from oracle db.</summary>
                      <summary>Implemented ICD 11 into healthcare project. Conducted code reviews for my team members.</summary>
                      <summary>Working with Oracle, Java to develop the patient portal.</summary>
                      <summary>Proficient in utilizing Java technologies to enhance user experience and streamline health care process within the patient portal environment.</summary>
                      <summary>Contributed to improving Healthcare operations by creating scheduling system that improved patient care management.</summary>

                  </div>
              </ng-template>
          </ngb-tab>
          <ngb-tab title="Education">
              <ng-template ngbTabContent>
                  <div class="tab-content" [@tabAnimation]="'active'">
                      <header>B.Tech - IT</header>
                      <label>E.G.S Pillay Engineering College</label><br>
                      <label>Nagapattinam, TN</label><br>
                      <label>Year - 2021</label>
                      <p>88 %</p>
                      <header>Higher Secondary</header>
                      <label>St.Theresa's Girls Hr. Sec. School</label><br>
                      <label>Thiruthuraipoondi, TN</label><br>
                      <label>Year - 2017</label>
                      <p>81 %</p>
                      <header>SSLC</header>
                      <label>Infant Jesus Matric. School</label><br>
                      <label>Thevur, TN</label><br>
                      <label>Year - 2015</label>
                      <p>96 %</p>
                  </div>
              </ng-template>
          </ngb-tab>
          <ngb-tab title="Skills">
              <ng-template ngbTabContent>
                  <div class="tab-content" [@tabAnimation]="'active'">
                      <header>Frontend Technologies</header>
                      <label>Angular(CLI Version 9 to 16), Bootstrap 5, CSS 3, TypeScript, Javascript, HTML5, Rxjs, JSF, Angular material.</label>
                      <header>Backend Technologies</header>
                      <label>Java, Api Gateway (Apisix), PostgreSQL, Oracle.</label>
                      <header>Version Control</header>
                      <label>Git, SVN</label>
                      <header>Tools</header>
                      <label>Visual studio code, GitHub, PgAdmin, Eclipse, Postman, WinSCP, Putty, Spring Tool suite, Jira, SQL developer.</label>
                  </div>
              </ng-template>
          </ngb-tab>
      </ngb-tabset>
  </div>
</div>

<style>
  .tab-content {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      padding: 14px
  }

  .tab-content.active {
      opacity: 1;
  }
</style>
