.aboutMeDetail{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
}

.tabSet.container header{
    font-weight: bold;
    margin-top: 13px;
    color: rgb(227, 222, 222);
}
.tab-content{
font-size: medium;
}
.project{
    height: 100%;
}
@media screen and (max-width:600px) {
    .aboutMeText{
        margin: 0 8% 6% 0;
        line-height: 35px;
    }
    .aboutMeDetail{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 2%;
    }
    .tabSet.container{
    padding: 50px 0px 0 15px !important
    }
}
@media screen and (max-width:400px) {
    .aboutMeText{
        margin: 0 8% 18% -10%;
        line-height: 35px;
    }
}
.tab-style{
    padding: 0.5rem !important;
}