<ul ngbNav #nav="ngbNav" class="nav-tabs about-tabs" [(activeId)]="activeTab">
  <li [ngbNavItem]="'experience'">
    <a ngbNavLink>Experience</a>
    <ng-template ngbNavContent>
      <ol class="timeline">
        <li class="timeline-item" [class.expanded]="isExpanded(job.company)" *ngFor="let job of experience">
          <h3 class="company-name">{{ job.company }}</h3>
          <p class="role">{{ job.role }}</p>

          <dl class="entry-details" *ngIf="job.details?.length">
            <ng-container *ngFor="let detail of job.details">
              <dt>{{ detail.label }}</dt>
              <dd>{{ detail.value }}</dd>
            </ng-container>
          </dl>

          <ul class="entry-points">
            <li *ngFor="let point of job.points">{{ point }}</li>
          </ul>

          <button type="button" class="show-more-toggle" *ngIf="job.points.length > collapsedPointCount"
            (click)="toggleExpanded(job.company)">
            {{ isExpanded(job.company) ? 'Show less' : 'Show ' + (job.points.length - collapsedPointCount) + ' more' }}
            <i class="fa-solid" [class.fa-chevron-down]="!isExpanded(job.company)" [class.fa-chevron-up]="isExpanded(job.company)" aria-hidden="true"></i>
          </button>
        </li>
      </ol>
    </ng-template>
  </li>

  <li [ngbNavItem]="'education'">
    <a ngbNavLink>Education</a>
    <ng-template ngbNavContent>
      <div class="entry-grid">
        <article class="entry-card" *ngFor="let item of education">
          <h3 class="entry-title">{{ item.qualification }}</h3>
          <p class="entry-institution">{{ item.institution }}</p>
          <p class="entry-meta">{{ item.location }}</p>
          <dl class="entry-details">
            <dt>Year</dt>
            <dd>{{ item.year }}</dd>
            <dt>Percentage</dt>
            <dd>{{ item.score }}</dd>
          </dl>
        </article>
      </div>
    </ng-template>
  </li>

  <li [ngbNavItem]="'skills'">
    <a ngbNavLink>Skills</a>
    <ng-template ngbNavContent>
      <div class="entry-grid">
        <article class="entry-card" *ngFor="let group of skillGroups">
          <h3 class="entry-title">{{ group.title }}</h3>
          <ul class="skill-list">
            <li *ngFor="let skill of group.skills">
              <span class="tag">{{ skill }}</span>
            </li>
          </ul>
        </article>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="about-panel"></div>
