.aboutMeDetail{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
}

.tabSet.container header{
    font-weight: bold;
    margin-top: 13px;
    color: rgb(227, 222, 222);
}
.tab-content{
font-size: medium;
}
.project{
    height: 100%;
}
@media screen and (max-width:600px) {
    .aboutMeText{
        margin: 0 22% 6% 0;
        line-height: 35px;
    }
    .aboutMeDetail{
        font-family:cursive;
        margin-left: 2%;
    }
    
}