<div class="fixed-rectangle">
    <div class="fixed-rectangle-content">
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-me-box">
                        <h2 class="about-me-title">About Me</h2>
                        <p class="about-me-content">
                            Innovative SDE with 3 Years of Expertise in IoT, UI/UX Design, and Agile Methodologies, Spring boot. Expert in Crafting Dynamic Applications with Angular Material and Single-SPA, React.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-6 p-4 tab-style">
            <ngb-tabset>
                <ngb-tab title="Experience">
                    <ng-template ngbTabContent>
                        <div class="tab-content">
                            <div class="experience-item">
                                <header class="company-name">Imtac India Private Limited</header>
                                <label class="role">Software Engineer</label>
                                <div class="details">
                                    <p><strong>Role:</strong> Angular Developer at Empyreal Universe (IoT Platform - Street-light Product)</p>
                                    <p><strong>Period:</strong> 2021 - Current</p>
                                </div>
                                <div class="description">
                                    <p><strong>Description:</strong></p>
                                    <ul>
                                        <li>Angular developer with 3 years in IoT and healthcare.</li>
                                        <li>Skilled in Angular UI, Java, Spring Boot, and SQL.</li>
                                        <li>Experienced with SL-Map and dashboards using Angular Material.</li>
                                        <li>Proficient in Agile, CLI, and Single-SPA.</li>
                                        <li>Upgraded Angular projects from CLI 9 to 16.</li>
                                        <li>Developed interactive web apps with TypeScript, JavaScript, HTML5, CSS, JSON, and Bootstrap.</li>
                                        <li>Integrated RESTful APIs and created SPAs with Angular single SPA.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="experience-item">
                                <header class="company-name">ICT Health (Informal Collaborate Transform)</header>
                                <label class="role">Full Stack Developer</label>
                                <div class="description">
                                    <p><strong>Description:</strong></p>
                                    <ul>
                                        <li>Developed healthcare software using JSF, Oracle, and Java.</li>
                                        <li>Optimized Oracle DB queries for better performance.</li>
                                        <li>Implemented ICD 11 and performed code reviews.</li>
                                        <li>Created a patient portal with Oracle and Java.</li>
                                        <li>Enhanced user experience and streamlined processes with Java.</li>
                                        <li>Improved healthcare operations with a scheduling system.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                
                <ngb-tab title="Education">
                    <ng-template ngbTabContent>
                        <div class="tab-content">
                            <div class="education-item">
                                <header class="education-header">B.Tech - IT</header>
                                <div class="education-details">
                                    <label>E.G.S Pillay Engineering College</label>
                                    <p>Nagapattinam, TN</p>
                                    <p><strong>Year:</strong> 2021</p>
                                    <p><strong>Percentage:</strong> 88%</p>
                                </div>
                            </div>
                            <div class="education-item">
                                <header class="education-header">Higher Secondary</header>
                                <div class="education-details">
                                    <label>St. Theresa's Girls Hr. Sec. School</label>
                                    <p>Thiruthuraipoondi, TN</p>
                                    <p><strong>Year:</strong> 2017</p>
                                    <p><strong>Percentage:</strong> 81%</p>
                                </div>
                            </div>
                            <div class="education-item">
                                <header class="education-header">SSLC</header>
                                <div class="education-details">
                                    <label>Infant Jesus Matric. School</label>
                                    <p>Thevur, TN</p>
                                    <p><strong>Year:</strong> 2015</p>
                                    <p><strong>Percentage:</strong> 96%</p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                
                <ngb-tab title="Skills">
                    <ng-template ngbTabContent>
                        <div class="tab-content">
                            <div class="skill-section">
                                <header class="section-header">Frontend Technologies</header>
                                <p class="skill-list">Angular (CLI Version 9 to 16), Bootstrap 5, CSS 3, TypeScript, JavaScript, HTML5, Rxjs, JSF, Angular Material.</p>
                            </div>
                            <div class="skill-section">
                                <header class="section-header">Backend Technologies</header>
                                <p class="skill-list">Java, API Gateway (Apisix), PostgreSQL, Oracle.</p>
                            </div>
                            <div class="skill-section">
                                <header class="section-header">Version Control</header>
                                <p class="skill-list">Git, SVN</p>
                            </div>
                            <div class="skill-section">
                                <header class="section-header">Tools</header>
                                <p class="skill-list">Visual Studio Code, GitHub, PgAdmin, Eclipse, Postman, WinSCP, PuTTY, Spring Tool Suite, Jira, SQL Developer.</p>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                
            </ngb-tabset>
        </div>
    </div>
</div>
