<div class="fullContainer">
<div id="header">
<div id="navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-light navbarResponsive" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#project">Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav> </div>
<div class="header">
  <div class="row">
<div class="col col-lg-6 mt-5 fw-bolder headerText">
           <p class="fs-3 headerTextColumn">Hi, I am <span class="name">Dharani J </span></p>
            <p class="fs-4 mt-3"> Full Stack Developer</p><br>
</div>
<div class="imageContainer col col-lg-6 d-flex justify-content-center">
  <img src="./assets/profile.jpg">
</div>
</div>
</div>
</div>
</div>
<div class="row col-lg-12 about" id="about">
<app-about></app-about>
</div>
<div class="row col-lg-12 project" id="project">
<app-project></app-project>
</div>
<div class="row col-lg-12 contact" id="contact">
<app-contact></app-contact>
</div>
<div class="row col-lg-12" id="copyright">
<app-copyright></app-copyright> 
</div>
