    <div class="fw-bolder project fs-3">
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-2 heading mt-4">My Work</div>
            <div class="col-lg-5"></div>

    </div>
    <div class="content">
    <div class="work-list">
    <h2 class="fw-bolder pl-4">Weather </h2>
    <img src="/assets/weather.avif">
    </div>
    <div class="work-list">
    <h2 class="fw-bolder">Portfolio Website </h2>
    <img class="portfolio" src="/assets/portfolio.png">
    </div>
    <div class="work-list">
    <h2 class="fw-bolder pr-4">Tracker App </h2> 
    <img src="/assets/tracker.webp">
    </div>
   
</div>
</div>
