
/* .project{
    height: 100%;
} */
.content{
    display: flex;
    padding: 3% 3% 0 3% !important;
}
/* .heading{
    padding: 3% 0 3% 50%;
} */
.portfolio{
    width: 58% !important;
}

.content .work-list img{
    border-radius: 20px;
    width: 70%;
}
.content .work-list img:hover{
    border: 2px solid rgb(236, 20, 20);
}

/* Small Screen */

@media screen and (max-width:600px){
    .content{
        display: block;
    }
    .work-list{
        margin: 9% 0 5% 5%;
    }
    .heading{
        margin: 0 0 0 30%;
    }
}
.tracker{
    width: 50% !important;
}